<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<title>Bienvenido</title>
<!-- Para los recursos estáticos (css, js, img, etc.) rutas absolutas (empiezan por /). -->
<link rel="stylesheet" href="/sitioMultimedia_web/css/style.css" />
<link rel="stylesheet" href="/sitioMultimedia_web/css/bootstrap.min.css" />
</head>
<body>

	<div class="bg-1">
		<h1 class="t-stroke t-shadow">
			BIENVENIDO! </br> Elige lo que desea hacer
		</h1>
		<p>Houston, we have a problem - Apollo 13</p>
	</div>
	<!-- partial:index.partial.html -->
	<!-- Topic Cards -->
	<div id="cards_landscape_wrap-2">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<a href="serie/listado">
						<div class="card-flyer">
							<div class="text-box">
								<div class="image-box">
									<img
										src="https://images.pexels.com/photos/3811867/pexels-photo-3811867.jpeg?auto=compress&cs=tinysrgb&w=600"
										alt="" />
								</div>
								<div class="text-container">
									<h6>SERIES</h6>
									<p>Crear, Modificar, Actualizar y Eliminar series.</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <a href="serie/peliculas">
						<div class="card-flyer">
							<div class="text-box">
								<div class="image-box">
									<img
										src="https://images.pexels.com/photos/1117132/pexels-photo-1117132.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
										alt="" />
								</div>
								<div class="text-container">
									<h6>PELÍCULAS</h6>
									<p>Crear, Modificar, Actualizar y Eliminar películas.</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <a href="serie/Libros">
						<div class="card-flyer">
							<div class="text-box">
								<div class="image-box">
									<img
										src="https://media.istockphoto.com/id/949118068/es/foto/libros.jpg?s=612x612&w=0&k=20&c=WL5xxQUeaRL9z6uHHYZD3CrXu-nlIRE9noRgviSSRd8="
										alt="" />
								</div>

								<div class="text-container">
									<h6>LIBROS</h6>
									<p>Crear, Modificar, Actualizar y Eliminar libros.</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <a href="serie/musica">
						<div class="card-flyer">
							<div class="text-box">
								<div class="image-box">
									<img
										src="https://images.pexels.com/photos/210764/pexels-photo-210764.jpeg?auto=compress&cs=tinysrgb&w=600"
										alt="" />
								</div>
								<div class="text-container">
									<h6>MÚSICA</h6>
									<p>Podrá aprender muchas cosas sobre todos los tipos de instrumentos.</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- partial -->

	<footer class="footer">
    <ul class="social-icon">
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
    </ul>
   
    <p>             &copy;2023 Diego García | MEDIA360 FUSION</p>
  </footer>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>


</body>
</html>